.Header{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  background-image:url("../Banner.jpg");
}

.Header-link a{
  text-decoration: none;
  color: black;
}

.Header-logo{
  max-width: 100%;
}

.Header-button{
  height: 50px;
  border-radius: 25px;
  padding: 0 20px;
  margin-left: 4px; 
  font-size: 17px;
}

.search{
  flex-grow: 1;
  text-align: center;
}

.search-field{
  height: 50px;
  border-radius: 25px;
  width: 80%;
  font-size: 17px;
}

@media all and (max-width: 600px){
  .logo{
    display:flex;
    justify-content: center;
    flex: 1 auto;
    order: -1;
  }
  .search{
    flex: 1 100%;
  }
}
