.Header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  background-color: black;
  color: white;
}

img{
  max-width: 100%;
}

button{
  height: 50px;
  border-radius: 25px;
  padding: 0 20px;
  margin-left: 4px; 
  font-size: 17px;
}

.search{
  flex-grow: 1;
  text-align: center;
}

.search-field{
  height: 50px;
  border-radius: 25px;
  width: 80%;
  font-size: 17px;
}

