.navigation {
  list-style: none;
  margin: 0; 
  margin-bottom: 20px;

  background-color: rgb(228, 217, 195);
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation a {
  background-color: rgb(228, 217, 195);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  text-decoration: none;
  display: block;
  padding: 1em;
  margin: 0;
  color: black;
  transition: 0.3s;
}

.navigation li ul{
  border-radius: 0px 0px 7px 7px;
}
/*
.navigation a:hover {
  background-color: rgba(228, 217, 195, .8);
}
.navigation li:hover .sub-menu {
  display: block;
  max-height: 200px;
}
*/

.sub-menu{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.sub-menu a {
  background-color: rgb(226, 217, 195);
}


@media all and (max-width: 800px) {
  .navigation {
    padding: 0;
    justify-content: space-around;
  }
  .navigation li{
    flex: 1;
    padding: 0;
  }
  
}

@media all and (max-width: 600px) {
 /* .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  */
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  .navigation a:hover{
    border-bottom: 4px solid black;
  }
}

@media all and (min-width: 600px) {
  .drop{
    position: relative;
  }

  .drop ul{
    position: absolute;
  }
  .drop ul li{
    width: 120px;
  }
  .drop-width{
    width: 120px;
  }
  .drop-width .New{
    padding-left: 40px;
  }

  .navigation a:hover {
    background-color: rgba(228, 217, 195, .8);
  }
  .navigation li:hover .sub-menu {
    display: block;
    max-height: 200px;
  }
}
