.wrapper{
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-flow: row wrap;
  justify-content: space-around;
}

  .Photos{  
    padding: 5px;
    width: 400px;
    height: 500px;
    margin: 10px;

    line-height: 150px;
  }

  .home-img{
    height: 100%;
    width: 100%;
  }
@media all and (max-width: 600px){
  .Photos{
    height: 360px;
    width: 287px;
  }
}


