

.slider-show{
  width: 818px;
  height: 530px;
  overflow: hidden;

  display: block;
  margin-left: auto;
  margin-right: auto;
}


.slide-navigation{
  position: relative;
  bottom: 45px;
  left: 35%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover{
  background: #fff;
}

input[name="r"]{
  position: absolute;
  visibility: hidden;
}

.slides{
  width: 249%;
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.slide{
  margin: 10px;
  width: 20%;
  transition: 0.6s;
}

.slide img{
  width: 100%;
  height: 100%;
}

.slide img:hover{
  opacity: .7;  
}

#r1:checked ~ .s1{
  margin-left: 0;
}

#r2:checked ~ .s1{
  margin-left: -20%;
}

#r3:checked ~ .s1{
  margin-left: -40%;
}

#r4:checked ~ .s1{
  margin-left: -60%;
}

#r5:checked ~ .s1{
  margin-left: -80%;
}

@media all and (max-width:820px){
  .slider-show{
    display: none;
  }
}
