.NavBar{
  flex-grow: .2;
  text-align: center;
}

a {
  text-decoration: none;
  margin: 0 4px;  
  color: white;
}

@media all and (max-width: 600px){
  .NavBar{
    flex: 1 auto;
    order: -1;
  }
}
