.NavBar-main-div{
  order: -1;
  flex: 1;
}

.NavBar{
  flex-grow: .2;
  text-align: center;
}

a {
  text-decoration: none;
  margin: 0 4px;  
  color: white;
}

@media all and (max-width: 600px){
  .NavBar{
    flex: 1 auto;
    order: -1;
  }
  .NavBar > a {
    text-decoration: none;
    margin: 17px 8px;
    padding: 0 21px;  
    color: white;
    display: block;
  }
}
