/*.HeaderLinks-main-div{
  flex: .25;
}

.HeaderLinks{
  flex-grow: .2;
  text-align: center;
}
*/



.HeaderLinks a:hover{
  color: rgb(255, 255, 255);
}
.HeaderLinks a{
  display: block;
  text-decoration: none;
  padding: 8px 8px 8px 32px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  transition: 0.3s;
}

/*
@media all and (max-width: 600px){
  .HeaderLinks{
    flex: 1 auto;
    order: -1;
  }
  .HeaderLinks a {
    text-decoration: none;
    margin: 17px 8px;
    padding: 0 21px;  
    color: black;
    display: block;
  }
  .HeaderLinks-main-div{
    order: -1;
    flex: 1;
  }
}

*/
